*{
  margin: 0;
  font-family: Arial;
  border: border-box;
}
.navbar{
  height: 60px;
  background-color: #0d2137;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo{
  height: 56px;
  width: 116px;
}
.logo{
  background-image:url(WhatsApp\ Image\ 2023-12-20\ at\ 7.08.22\ PM.jpeg);
background-size: cover;
height: 50px;
width: 100%;
}
.border{
  border: 1.5px solid transparent;
}
.border:hover{
  border: 1.5px solid white;
  cursor: pointer;
}
.nav-address{
  margin: 10px;
}
/** box2 **/
.add-first{
  color: #cccccccc;
  font-size: 0.85rem;
  margin-left:15px;
}
.add-sec{
  margin-left: 3px;
  font-size: 1rem;
}
.add-icon{
  display: flex;
  align-items: center;
}
/** box 3**/
.nav-search{
  width: 620px;
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  background-color: green;
  border-radius: 4px;
}
.search-select{
  width: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
  border: none;
  background-color: #f3f3f3;
}
.search-input{
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  background-color: #e08439;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0d2137;
}
.nav-search:hover{
border: 2px solid orange;
}
/** box 4**/
span{
  font-size: 0.7rem;
}
.nav-sec{
  font-size: 00.85rem;
  font-weight: 700;
}
/** box5**/
.nav-cart i{
  font-size: 25px;
}
.nav-cart{
  font-size: 00.85rem;
  font-weight: 700;
}
/** panel **/
.panel{
  color: #f3f3f3;
  display: flex;
  height: 40px;
  background-color: #0d2137ea;
  justify-content: space-evenly;
  align-items: center;
}
.panel-deal{
  font-size: 0.9rem;
  font-weight: 700;
}
.panel-option{
  display: flex;
  width: 70%;
}
.panel-ops p{
  font-size: 00.85rem;
  margin-left: 10px;
  margin-right: 10px;
  height: 20px;
  margin-top: 10px;
}
/** hero section **/
.hero{
  background-image: url(hero.png);
  height: 400px;
  background-size: cover;
}
/** shop section **/

  .shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*background-color: #e2e7e6;*/
    /* background-color: #054b3f; */
  }
  .box{
    border: none;
    height: 400px;
    width: 23%;
  margin-top: 1rem;
  background-color: white;
  padding: 20px 0px 15px;
  }
  .box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .box-content{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .box-content p{
    color: #007185;
  }
  /** footer **/
  footer{
    margin-top: 15px;
  }
  .footer-panel1{
    background-color: #0d2137Ea;
    color: white;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-panel2{
    display: flex;
    justify-content: space-evenly;
    background-color: #0d2137;
    color: white;
    height: 300px;

  }
  .navigation{
    margin-top: 15px;
    height: 150px;
    width: 200px;
    
  }
  ul{
    margin-top: 10px;
  }
  ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
  }
  .navigation p{
    margin-left: 40px;
    margin-bottom: 10px;
  }
  .form{
    background-color: #435975;
    margin-top: 10px;
    border-radius: 4px;
    height: 200px;
  }
  .form input{
    margin-left: 10px;
    border-radius: 2px;
    border: none;
    background-color: #fdfdfd;
    width: 90%;
  }
  .form button{
    margin-left: 10px;
    height: 40px;
    width: 90px;
    background-color: #e31e24;
    border: none;
    color: white;
  }
  #input1{
    margin-top: 10px;
  }
  #input2{
    margin-top: 10px;
  }
  #input3{
    margin-top: 7px;
  }
  #input4{
    margin-top: 5px;
  }
  .social{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
  }
  .newBox{
    background-color: black;
  }
  .p:hover{
    cursor: pointer;
  }